.am-slides{
	width: 100%;
    overflow: hidden;
    margin: 0;
    list-style: none;
}
 
.am-slider-default .am-direction-nav a:before{
	color: white;
}
.am-slider-default .am-control-nav li a.am-active{
	background: #f0f0f0;
}
.am-slider-default .am-control-nav li a{
	width: 8px;
	height: 8px;
	border-radius: none;
}
.am-slider-default .am-control-nav{
	bottom:-2px;
}
/**法律服务样式START**/
.leftdiv{
	
	overflow-y:scroll;
	width:30%; 
	height:550px;
	float:left;

}


ul{margin:0;padding:0;}

p{margin:0;padding:0;}

/* .leftul{flex:1;} */

.leftulbg{
	 list-style: none;
	/* height:80px; */
	/* background-color: rgba(238, 238, 238, 1); */
	background-color: white;
	
	
}
.LeftNav>li{margin-top:0 !important;height:20%;}

.leftdiv ul{height:100% !important ;}

.leftli a{padding:0 !important;height:100%;}

.Flfwpage{width:100%;overflow-y:scroll }

.drop{background-color: gray;}	

.leftli{text-align: center;}

.leftli span{font-size:30px;width:100%;}

.leftli p{height:58%;}

.rightdiv{width:70%;float:right;overflow-y:scroll ;text-align: center}

.button-div{font-size:17px;width:100%;}

.drop{background:white;font-size:20px;}

.drop span{color:rgb(19, 123, 153);font-size:30px;}

.renyuannum{
	width:100%;
	height:130px;
	overflow: hidden;
	display: flex;
	border:1px solid black;
}
.renyuanimg{
	width:100%;
	height:100%;
	float:left;
	text-align: center;
	line-height: 125px;
	flex:1;
}
.renyuanjianjie{
	width:100px;
	height:100%;
	float:left;
	flex:3;
}
.renyuantupian{
	height:100%;
	width:100%;
}
.getiao{
	width:100%;
	height:10px;
	background: white;
}
.flfwrightlistp{
	width:100%;
}
.flfwrightlistbar{
	height:500px;
}
.logoimg{
	width:100%;
}

/* .jga{width:50%;float:left;} */


/**法律服务样式END**/

.lawbarn1{
	width:100%;
}

.lawlistn1{
	height:500px;
}
.kongbai{
	width:100%;
	height:50px;
}
.kongbaitwo{
	width:100%;
	height:50px;
	clear:right;
}
.lawbarleft{
	width:30%;
	height:550px;
	float:left;
}
.lawlistright{
	width:70%;
	height:550px;
	float:left;
}
.lawbarnavn1{
	width:100%;
	height:100%;
	overflow:scroll;
}
.lawbarnavn2{
	width:100%;
	height:100%;
	flex-direction:column;
	display: flex;
	justify-content:flex-start;
	align-items:center;
	overflow:scroll;
}
.lawbariconn1{
	font-size:30px;
	width:100%;
	height:50%;
	text-align:center;
}
.lawbariconn2{
	width:100%;
	height:50%;
	text-align:center;
}
.lawbariconsum{
	width:100%;
	height:17%;
	font-size:16;
}
